@font-face {
	font-family: "WorkSans-regular";
	src: url("../assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CodePro-regular";
	src: url("../assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
}