@import "~normalize.css";
@import "./fonts.css";

@import "header";
@import "subheader";
@import "aside";
@import "formContent";

* {
	box-sizing: border-box;
}

button {
	outline: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
select {
	cursor: pointer;
}
input {
	outline: none;
}

body {
	background-color: #F7F7F7;
    font-family: "WorkSans-regular", sans-serif;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding: 53px 0;
	width: 1224px;
	color: #2F2F30;

	&__center {
		@include flex(space-between, flex-start);
		margin-top: $margin-top;
	}
}

button:active 		{ transform: scale(0.98) }
.icon-copy:active 	{ transform: scale(0.95) }