@import "~normalize.css";
@import "./fonts.css";

body {
	background-color: #F7F7F7;
    font-family: "WorkSans-light", sans-serif;
}

.wrapper {
	margin: 0 auto;
	padding: 53px 0;
	width: 1224px;
	box-sizing: border-box;
	color: #2F2F30;
}