@import "~normalize.css";
@import "./fonts.css";

@import "header";
@import "subheader";
@import "aside";

* {
	box-sizing: border-box;
}
input {
	outline: none;
}

body {
	background-color: #F7F7F7;
    font-family: "WorkSans-regular", sans-serif;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding: 53px 0;
	width: 1224px;
	color: #2F2F30;

	&__center {
		@include flex(space-between, flex-start);
		margin-top: 24px;
	}
}